nav {
  background-color: #281515;
  color: rgb(51, 37, 37);
  padding: 10px;
  border-radius: 1%;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

li {
  background-color: ;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: #e42222;
}

ul {
  padding: 0;
  justify-content: center;
  border-radius: 8px;
}

p {
  margin: 5px 0;
}
strong {
  color: #444;
}
body {
  color: #eef7f9;
  background-color: rgb(31, 11, 11);
  background: url("https://dspncdn.com/a1/media/692x/29/19/1e/29191e8b14125c182a89de436a0114be.jpg")no-repeat center center fixed ;
  background-size: cover;
}